* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    margin-top: 24px;
}
.navbar{
 text-align: center;
}
.home{
  border: 2px solid;
  border-color: black;
  border-radius: 0px;
  padding: 10px 30px;
  
}
.container{
    margin-top: 50px;
    margin-left: 30px;
}
.height1{
    margin-top: 50px;
}
.weight1{
    margin-top: 50px;
}
.Calculate{
    margin-top: 50px;
}
#weight-guide{
    margin-top: 50px;
}